<div class="run">
  <label>Number of columns:</label>
  <input class="textbox" type="number" min="1" (change)="columnsChangedEvent($event)" [attr.value]="numCols()">
  <button class="button" (click)="simulate()">Simulate</button>
</div>

<div class="simulation">
  <div *ngFor="let component of components">
    <label class="componentName">{{component.blockType}}: {{component.name}}</label>
    <table class="table">
      <thead>
        <tr class="monaco-list">
          <th class="streamName">Time</th>
          <th *ngFor="let value of component.streams[0].instantValues">{{value[0]}}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="monaco-list" *ngFor="let stream of component.streams">
          <td class="streamName" [ngSwitch]="stream.class">
            <i *ngSwitchCase="&quot;input&quot;" class="bi bi-box-arrow-in-right inputIcon"></i>
            <i *ngSwitchCase="&quot;output&quot;" class="bi bi-box-arrow-right outputIcon"></i>
            <i *ngSwitchCase="&quot;local&quot;" class="bi bi-geo-fill localIcon"></i>
            {{stream.name}} ({{stream.type}})
          </td>
            <td *ngFor="let value of stream.instantValues" [ngSwitch]="stream.type">
            <input class="checkbox" *ngSwitchCase="&quot;bool&quot;"
              (change)="checkboxChanged(component, stream, value, $event)" type="checkbox" [checked]="value[1]">
            <button class="button" *ngSwitchCase="&quot;array&quot;" [disabled]="false" (click)="openArrayEditor(stream, value)">
              View Array
            </button>
            <input class="textbox" *ngSwitchDefault [disabled]="isDisabled(component, stream)" type="text"
              (change)="inputChanged(stream.type, value, $event)" [attr.value]="valueToString(value[1])">
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



<div class="array-overlay" *ngIf="showArrayEditor">
  <div class="array-editor-modal">
    <div class="array-editor-header">
      <h3>Edit Array: {{currentStream?.name}}</h3>
      <button class="close-button" (click)="closeArrayEditor()">×</button>
    </div>
    <div class="array-editor-content">
      <!-- Your array editing content goes here -->
      <p>Array Type: {{currentStream?.type}}</p>
      <p>Base Type: {{currentStream?.typeInfo?.baseType}}</p>
      <p>Size: {{currentStream?.typeInfo?.sizes?.[0]}}</p>
      
      <!-- Example array editing interface -->
      <!-- <div class="array-values">
        <div *ngFor="let value of arrayValues; let i = index" class="array-item">
          <span class="array-index">{{i}}:</span>
            <input
            type="text"
            [attr.value]="value"
            (change)="arrayValueChanged($event, i)"
            class="array-input"
            [disabled]="currentStream?.class === 'output'"
            />
        </div>
      </div> -->
  <div *ngIf="currentStream?.typeInfo?.sizes.length <= 2" class="array-table-container">
    <table class="array-table">
      <thead>
        <tr>
          <th class="corner-cell"></th>
          <th *ngFor="let col of getColIndices()" class="col-header">{{(col === -1 ? "" : col)}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of getRowIndices(); let rowIdx = index">
          <th class="row-header">{{row}}</th>
          <td *ngFor="let col of getColIndices(); let colIdx = index">
            <input
              type="text"
              [attr.value]="getArrayValue(row, col)"
              (change)="arrayValueChanged($event, row, col)"
              class="array-input"
              [disabled]="currentStream?.class === 'output'"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
            
      <div class="array-editor-actions">
        <button class="button" (click)="saveArray()">Save</button>
        <button class="button" (click)="closeArrayEditor()">Cancel</button>
      </div>
    </div>
  </div>
</div>