.counterExample {
  text-align: center;
}

.componentName {
  text-align: left;
  font-size: 25px;
}

.columnName {
  text-align: left
}

.streamVariable {
  text-align: left
}

.inputIcon {
  color: blue;
  font-size: 20px;
}

.outputIcon {
  color: green;
  font-size: 20px;
}

.localIcon {
  font-size: 20px;
}
