<div class="run">
    <label>Columns </label>
    <input class="inputNumber" type="number" min="1" (change)="columnsChanged($event)"
        [attr.value]="columns.length">
</div>
<div ng-repeat="node in nodes" class="table-responsive">
    <table class="table table-striped interpreter table-hover">
        <thead>
            <tr>
                <th class="nodeName" [attr.colspan]="columns.length + 1">
                    {{columns.length}}
                </th>
            </tr>
            <tr>
                <th class="columnName">Time </th>
                <th *ngFor="let column of columns">{{column}}</th>
            </tr>
        </thead>
    </table>
</div>