
.interpreter, .interpreter *{
  text-align: center;
}

.run{
  margin: auto;
  text-align: center;
  margin-top: 10px;
}

.inputNumber{
  text-align: center;
  width: 50px;
}

.nodeName{
  text-align: left;
  font-size: 25px;
}

.columnName{
  text-align: left
}
.streamVariable{
  text-align: left
}

.inputIcon{
  color: blue;
  font-size: 20px;
}

.outputIcon{
  color: green;
  font-size: 20px;
}

.localIcon{
  font-size: 20px;
}

.interpreter input {
  width: 40px;
}

.inputForm{
  display: inline-block;
}

.invalidInput {
  border:1px solid red;
}
